.mediaEditorContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.header {
  font-weight: bold;
  height: 30px;
  width: 100%;
  background-color: #b7e4e8;
}

.inputContainer {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: calc(100% - 40px);
}

.inputField {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 12px;
  border: 1px solid #ddd;
}

.inputField:focus {
  background-color: #d5e6eb;
}

.submitButton {
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 57px;
  background-color: greenyellow;
  height: 30px;
}
