.header {
  background-color: #a6e9ea;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerActions {
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap:30px;
  width: 300px;
}

.headerAction {
  width: 105px;
  background-color: white;
  border-radius: 7px;
  height: 30px;
  font-size: 11px;
  display: flex;
  cursor:pointer;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.svgIcon {
  width: 16px;
  height: 16px;
}
