.wrapperRowContainer {
  position: relative;
  height: 100%;
  margin: 40px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.wrapperAddRowButton {
  position: absolute;
  bottom: -9px;
  left: 50%;
  cursor: pointer;
  background-color: cornflowerblue;
  border-radius: 50%;
  visibility: hidden;
}

.wrapperAddRowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

.wrapperActions {
  position: absolute;
  top: -23px;
  padding: 3px;
  cursor: pointer;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  visibility: hidden;
}

.wrapperActionIcons {
  left: calc(100% - 19px);
}

.wrapperMoveUpDownActions {
  right: calc(100% - 46px);
}

.disabledIcon {
  pointer-events: none;
  cursor: not-allowed;
}

.wrapperRowContainer:hover {
  border: 2px solid cornflowerblue;
}

.wrapperRowContainer:hover .wrapperAddRowButton {
  visibility: visible;
}

.wrapperRowContainer:hover .wrapperActions {
  visibility: visible;
}
